:root {
  --Blue-100: hsl(225, 100%, 94%);
  --Blue-700: hsl(245, 75%, 52%);
  --Blue-50: hsl(225, 100%, 98%);
  --Gray-600: hsl(224, 23%, 55%);
  --Blue-950: hsl(223, 47%, 23%);
  font-size: 16px;
  box-sizing: border-box;
}
body{
    font-family: "Red Hat Display", sans-serif;
    color: var(--Gray-600);
    background-image: url('./images/pattern-background-mobile.svg');
    background-repeat:repeat no-repeat;
     background-color: var(--Blue-100);
      display: grid;
  place-items: center;
  height: 100vh;
}
h2,h3 {
    color: black;
    font-weight: 700;
}
.firstcontain {
    margin-top: 20px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
}
.design {
  background-image: url("./images/illustration-hero.svg");
  background-repeat: no-repeat;
  height: 200px;
  border-radius: 20px 20px 0 0;
}
.contain {
    padding: 10px;
     width: 250px;
    margin: auto;
}
.center {
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    padding: 10px;
    background-color: var(--Blue-50);
    border-radius: 10px;
    margin-bottom: 20px;
}
.musicimage,.not {
    display: flex;
    align-items: center;
}
button {
    width: 100%;
    background-color: var(--Blue-700);
    color: white;
    border-radius: 10px;
    border: 1px solid var(--Blue-700);
    padding: 15px;
    box-shadow: 5px 7px 30px var(--Gray-600);
    margin-top: 20px;
    margin-bottom: 20px;
}
.cancel {
    background-color: white;
    color: var(--Gray-600);
    box-shadow: none;
    border-radius: 0%;
    border: none;
    font-weight: 900;
}
a {
    color: var(--Blue-700);
    font-weight: 700;
}
a:hover {
    text-decoration: none;
    opacity: 0.7;
}
button:hover {
    opacity: 0.7;
}
@media (min-width: 1000px) {
  .firstcontain {
    width: 450px;
    margin: auto;
  }
  .contain {
    width: 400px;
    margin: auto;
  }
  body{
    font-family: "Red Hat Display", sans-serif;
    color: var(--Gray-600);
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat:repeat no-repeat;
     background-color: var(--Blue-100);
}
}